{{ define "slack.devops.text" }}
{{range .Alerts}}{{.Annotations.DESCRIPTION}}
{{end}}
{{ end }}
{{ define "slack.channel" }}
  {{ if .CommonLabels.channel }}
    {{ .CommonLabels.channel }}
  {{ else }}
    #alerts
  {{ end }}
{{ end }}

